<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000"/>
  <meta name="description" content="find your favorite restaurant">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./foodicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Daharin</title>
</head>
<body id="body">
  <a href="#maincontent" class="skip-link" tabindex="0">Menuju ke konten</a>
  <header>
    <nav class="nav">
      <div class="nav-container container">
        <h1 class="logo" tabindex="0">Daharin</h1>
        <button id="menu" class="header__menu" tabindex="0">
          <i class="fa fa-bars"></i>
          <i class="closeIcon material-icons">close</i>
        </button>
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/muhammad-ihsanudin-1128331bb/">About Us</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <hero-bar></hero-bar>
  <main id="maincontent" tabindex="0"></main>
  <footer class="footer">
    <footer-bar></footer-bar>
  </footer>
</body>
</html>
